<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <a [routerLink]="''">
          <img src="/assets/images/stream_logo.png">
        </a>
        <a [routerLink]="''">{{title}}</a>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a class="hvr-line" [routerLink]="'get-feed'" routerLinkActive="active-link">Get Feed</a></li>
      <li><a class="hvr-line" [routerLink]="'add-activity'" routerLinkActive="active-link">Add Activity</a></li>
    </ul>
  </div>
</div>
