.top-bar {
  margin-bottom: 20px;

  .menu-text {
    img {
      margin-right: 20px;
      vertical-align: text-bottom;
    }

    a {
      color: black;
      display: inline;
      padding: 0;
    }
  }
}
