@import '~assets/foundation-sites/settings';

.top-bar {
  margin-bottom: 20px;

  a {
    color: $topbar-color;
    font-family: "Hanken Sans","Helvetica Neue",Helvetica,sans-serif;

    &:hover {
      color: #111a23;
      transition: .2s;
    }

    .hvr-line:before {
      background: #fff !important;
    }
  }

  .menu-text {
    img {
      margin-right: 20px;
      vertical-align: text-bottom;
    }

    a {
      color: $topbar-color;
      display: inline;
      padding: 0;
    }
  }

  .top-bar-right {
    font-size: 16px;

    a {
      line-height: 22px;
      &:hover {
        color: #111a23;
      }

      &.active-link {
        color: #111a23;
      }
    }
  }
}
