<div class="grid-container">
  <div class="grid-x">
    <div class="medium-12 cell">
      <div class="callout text-center">
        <h2>Fetch Feed</h2>
        <button class="mktg-btn-links mktg-btn-lift" (click)="getFeed()">
          <span *ngIf="!activities || activities.length == 0">Fetch the feed</span>
          <span *ngIf="activities && activities.length > 0">Re-fetch the feed</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x">
    <div class="medium-12 cell">
      <div class="callout text-center">
        <h3>Activities</h3>
        <div class="row" *ngFor="let activity of activities">
          <div class="medium-12 cell">
            <div class="callout">
              <div><strong>{{ activity.id }}</strong></div>
              <div><em>{{activity.actor }}: {{ activity.verb }}</em></div>
              <p>{{activity.object }}</p>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!activities || activities.length == 0">
          <div class="medium-12 cell">
            <p>No activities fetched</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
