<div>
  <h2>Fetch Feed</h2>
  <button class="button" (click)="getFeed()">
    <span *ngIf="!activities || activities.length == 0">Fetch the feed</span>
    <span *ngIf="activities && activities.length > 0">Re-fetch the feed</span>
  </button>
  <h3>Activities</h3>
  <div class="callout" *ngFor="let activity of activities">
    <div><strong>{{ activity.id }}</strong></div>
    <div><em>{{activity.actor }}: {{ activity.verb }}</em></div>
    <p>{{activity.object }}</p>
  </div>
  <div *ngIf="!activities || activities.length == 0">
    <p>No activities fetched</p>
  </div>
</div>
